{% extends "layout/base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}

    <div id="page-content" class="d-flex flex-column flex-grow-1 justify-content-center align-items-center" style="background-color: lawngreen">

        <h2>Log In</h2>

        <form class="login" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
        <button class="btn btn-danger" type="submit" id="must-button">Log In</button>
        </form>


    </div>

{% endblock %}

