{% extends "layout/base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}

    <div id="page-content" class="d-flex flex-column flex-grow-1 justify-content-center align-items-center" style="background-color: lawngreen">

        <h2>Sign Up</h2>

        <form class="signup" id="signup_form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-danger" type="submit" id="must-button">Sign me up!</button>
        </form>


    </div>

{% endblock %}