{% extends "layout/base.html" %}
{% load static %}

{% block title %}Game{% endblock %}

{% block content %}

    <!-- Page content -->
    <div class="container-fluid d-flex flex-column flex-grow-1">

        <!-- Page content main row -->
        <div class="row flex-fill d-flex h-100 p-4">

            <!-- Page content: game name, description and ratings part -->
            <div class="col-md-9 col-xl-9 col-sm-9 order-md-1 order-xl-0">

                <!-- Game name with button and short description -->
                <div class="row">
                    <div class="col-md-8 col-xl-8 col-sm-8 order-md-1 order-xl-0">
                        <div class="row">
                            <div class="col-auto">
                                <h2>{{ game.name }}</h2>
                                <h6>
                                    {% if game.genres %}
                                        {% for genre in game.genres %}{{ genre.name }} {% endfor %}
                                    {% else %}No genres{% endif %}
                                </h6>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-danger must-button {% if not is_added %}
                                    active {% endif %}" type="button"
                                            data-url_root="{% url 'detail_page' game.id %}"
                                            data-game_id="{{ game.id }}"
                                            name="game_id">
                                        {% if not is_added %}Не добавлена
                                        {% else %}Добавлена{% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Game description, release date, screenshots part -->
                <div class="row mt-4">

                    <!-- Column left: main info -->
                    <div class="col-md-8 col-xl-8 col-sm-8 order-md-1 order-xl-0">

                        <!-- Game description -->
                        <h5>Description</h5>
                        <p class="text-justify text-dark">
                            {% if game.summary %}{{ game.summary }}{% else %}No description{% endif %}
                        </p>

                        <!-- Release date -->
                        <h5 class="mt-4">Release Date</h5>
                        <p class="text-dark">
                            {% if game.first_release_date %}{{ game.first_release_date }}{% else %}
                                No release date{% endif %}
                        </p>

                        <!-- Screenshots -->
                        <h5 class="mt-4">Screenshots</h5>

                        {% if game.screenshots %}

                        <!-- Section with screenshots -->
                        <div class="row">
                                {% for screenshot in game.screenshots %}
                                    <div class="col-lg-4 col-md-12 mb-lg-0 mt-2 mb-2">
                                        <img src={{ screenshot.image_id }} class="w-100"/>
                                    </div>
                                {% endfor %}
                        </div><!-- Section with screenshots end -->

                        {% else %}
                            <p class="text-dark">No screenshots</p>
                        {% endif %}

                    </div><!-- Column left end -->


                    <!-- Column with ratings and filters list (genres, platforms) -->
                    <div class="col-md-4 col-xl-4 col-sm-4">

                        <!-- Ratings card users -->
                        <h5>Ratings</h5>
                        <div class="container card bg-success text-white mt-2 mb-2">
                            <div class="row">
                                <div class="col-xl-3 col-sm-auto col-md-auto p-2">Users</div>
                                <div class="col-xl-9 col-sm-auto col-md-auto text-right p-2">
                                    {% if game.rating_count %}{{ game.rating|floatformat:"1" }}
                                        ({{ game.rating_count }} reviews)
                                    {% else %}No data{% endif %}
                                </div>
                            </div>
                        </div>

                        <!-- Ratings card critics -->
                        <div class="container card bg-primary text-white mt-2 mb-2">
                            <div class="row">
                                <div class="col-xl-3 col-sm-auto col-md-auto p-2">Critics</div>
                                <div class="col-xl-9 col-sm-auto col-md-auto text-right p-2">
                                    {% if game.aggregated_rating_count %}{{ game.aggregated_rating|floatformat:"1" }}
                                        ({{ game.aggregated_rating_count }} reviews)
                                    {% else %}No data{% endif %}
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- Genres list -->
                        <h5>Genres</h5>
                        <div class="container text-white mb-4">
                            <div class="row">

                                {% if game.genres %}
                                    {% for genre in game.genres %}
                                        <button class="btn btn-danger mt-2 mr-2" type="button">{{ genre.name }}</button>
                                    {% endfor %}
                                {% else %}
                                    <p class="text-dark">No genres</p>
                                {% endif %}

                            </div>
                        </div>

                        <!-- Platforms list -->
                        <h5>Platforms</h5>
                        <div class="container text-white mb-4">
                            <div class="row">

                                {% if game.platforms %}
                                    {% for platform in game.platforms %}
                                        <button class="btn btn-danger mt-2 mr-2" type="button">
                                            {{ platform.abbreviation }}
                                        </button>
                                    {% endfor %}
                                {% else %}
                                    <p class="text-dark">No platforms</p>
                                {% endif %}

                            </div>
                        </div>

                    </div><!-- Column with ratings and filters list end -->
                </div><!-- Game description, release date, screenshots part end -->
            </div><!-- Page content: game name, description and ratings part end -->


            <!-- Page content: tweets part -->
            <div class="col-md-3 col-xl-3 col-sm-3 order-md-1 order-xl-0">

                <h4>#{{ game.name }} Tweets</h4>

                {% if tweets %}

                    {% for tweet in tweets %}
                        <!-- Tweet card -->
                        <div class="container card bg-danger text-white mt-2 mb-2">
                            <div class="card-body p-1">

                                <!-- Tweet text -->
                                <p class="card-text small text-justify">{{ tweet.text }}</p>

                                <!-- Tweet date and author -->
                                <div class="row">
                                    <div class="col-xl-5 col-sm-5 col-md-5">
                                        <p class="card-text small text-left">{{ tweet.created_at }}</p>
                                    </div>
                                    <div class="col-xl-7 col-sm-7 col-md-7">
                                        <p class="card-text small text-right">{{ tweet.author }}</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Tweet card end -->

                    {% endfor %}

                {% else %}
                    <p class="text-dark">No tweets</p>
                {% endif %}

            </div><!-- Page content: tweets part end -->
        </div><!-- Page content main row end -->
    </div><!-- Page content -->

{% endblock %}


{% block script %}

    <!-- jQuery for must button -->
    <script type="text/javascript" src={% static 'game/js/must_button.js' %}></script>

{% endblock %}
