{% extends "layout/base.html" %}
{% load static %}

{% block title %}Games{% endblock %}

{% block stylesheet %}

    <!-- Extra Page Stylesheet -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">

{% endblock %}


{% block content %}

    <!-- Page Content but navbar -->
    <div id="wrapper" class="toggled d-flex flex-grow-1">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="bg-danger show-sidebar">
            <ul class="sidebar-nav">

                <!-- Sidebar header -->
                <div class="container">
                    <div class="row mt-3" id="filter-name">
                        <p class="text-white mb-1"><i class="fas fa-caret-right p-2 ml-2"></i>FILTERS</p>
                    </div>
                </div>

                <form id="training-form-edit" method="POST" action="{% url 'main_page_filter' %}">
                    {% csrf_token %}
                    <!-- Sidebar: platforms filter -->
                    <div class="container">
                        <div class="row mt-3">
                            <div class="input-group input-sm p-0">
                                <p class="text-white ml-0 pt-3 pl-0 col-auto">Platforms</p>
                            </div>

                            <!-- Sidebar: list of platforms from DB -->
                            {% for platform in platforms %}
                                <div class="form-check form-check-inline text-white pr-3 small">
                                    <input class="form-check-input" type="checkbox" id="{{ platform.abbreviation }}"
                                           value="{{ platform.id }}" name="platforms"
                                           {% if  platform.id in chosen_platforms %}checked{% endif %}>
                                    <label class="form-check-label" for="{{ platform.abbreviation }}">
                                        {{ platform.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Sidebar: genres filter -->
                    <div class="container">

                        <div class="row mt-3">
                            <div class="input-group input-sm p-0">
                                <p class="text-white ml-0 pt-3 pl-0 col-auto">Genres</p>
                            </div>

                            <!-- Sidebar: list of genres from DB -->
                            {% for genre in genres %}
                                <div class="form-check form-check-inline text-white pr-3 small">
                                    <input class="form-check-input" type="checkbox" id="{{ genre.name }}"
                                           value="{{ genre.id }}" name="genres"
                                           {% if  genre.id in chosen_genres %}checked{% endif %}>
                                    <label class="form-check-label" for="{{ genre.name }}">{{ genre.name }}{{ test }}</label>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <!-- Sidebar: user rating -->
                    <div class="container">
                        <div class="row mt-3">
                            <p class="text-white mb-1">User Rating</p>
                        </div>

                        <!-- Range input -->
                        <div class="multiple-range" data-min-distance="0.5">
                            <input id="rating-begin" name="rating-begin" type="range" min="0" max="100" step="1"
                                   value="{% if chosen_lower_rating_bound %}{{ chosen_lower_rating_bound }}{% else %}0{% endif %}">
                            <output for="rating-begin" data-expression="${value}"></output>
                            <input id="rating-end" name="rating-end" type="range" min="0" max="100" step="1"
                                   value="{% if chosen_upper_rating_bound %}{{ chosen_upper_rating_bound }}{% else %}100{% endif %}">
                            <output for="rating-end" data-expression="${value}"></output>
                        </div>

                    </div>

                    <!-- Apply button -->
                    <div class="container">
                        <div class="row mt-3">
                            <button class="btn btn-light text-danger" type="submit" id="must-button">Apply</button>
                        </div>
                    </div>

                </form>
            </ul>
        </div><!-- Sidebar end -->

        <!-- Page Content -->
        <div id="page-content" class="container-fluid align-items-center">

            <!-- First row after navbar: button > search input > blank space -->
            <div class="row">

                <!-- Column for button -->
                <div class="col-sm-2 col-md-2 col-xl-2 d-flex align-items-center">
                    <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
                        <button class="btn btn-danger rounded-circle btn-lg">
                            <i class="fas fa-caret-down"></i></button>
                    </a>
                </div>

                <!-- Column for search input -->
                <div class="col-sm-8 col-md-8 col-xl-8 align-items-center">
                    <form id="search-data-form" method="GET" action="{% url 'main_page_search' %}">
                    <div class="row pr-4 pl-4 pb-0 pt-3">
                        <div class="input-group">
                            <input class="form-control py-2 rounded-0 bg-transparent search-input-bborder text-center"
                                   type="text" placeholder="Search..." id="example-search-input" name="search-data">
                            <span class="input-group-append">
                            <div class="input-group-text bg-transparent rounded-0 search-input-bborder">
                                <i class="fa fa-search"></i></div>
                            </span>
                        </div>
                    </div>
                    </form>
                </div>

            </div>


            <!-- Row for basic content: game cards -->
            <div class="row justify-content-center h-100 align-items-center">

                <!-- Column to center game cards -->
                <div class="col-xl-8 col-md-8 col-sm-8">

                    {% if page_obj %}

                    <!-- Row with content: 3 cards per row -->
                    <div class="row row-cols-md-3 row-cols-xl-3 p-3 align-items-center">

                        <!-- Game cards -->
                        {% for game in page_obj %}
                            <div class="col-xl-4 col-md-6 col-sm-12 d-flex justify-content-center p-2">

                                <!-- Card image -->
                                <div class="card-image-cover">
                                    <img class="card-img card-image-cover"
                                         src="{% if game.cover.image_id %}{{ game.cover.image_id }}{% else %}
                                          https://www.beddingwarehouse.com.au/wp-content/uploads/2016/01/placeholder-featured-image.png
                                          {% endif %}" alt="Card image">
                                    <div class="card-img-overlay">

                                        <!-- Card grey cover -->
                                        <span class="span-image p-2">
                                        <h4>{{ game.name }}</h4>

                                            {% if game.genres %}
                                                <h6>{% for genre in game.genres %}{{ genre.name }} {% endfor %}</h6>
                                            {% else %}
                                                <h6>No genres</h6>
                                            {% endif %}

                                            <a href="{% url 'detail_page' game.id %}">
                                    <button type="button" class="badge badge-light badge-pill border-0"
                                            id="open-button-main">Open</button></a>
                                    <button type="button" class="badge badge-light badge-pill border-0"
                                            id="must-button-main">Must</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div> <!-- Row content (cards) end -->

                    {% else %}
                        <p class="text-dark text-center">No games found</p>
                    {% endif %}

                </div><!-- Column to center cards end -->

            </div><!-- Row for basic content end -->


            <!-- Pagination -->
            <div class="row justify-content-center">
                <ul class="pagination justify-content-center">
                    <div class="d-grid gap-2 d-md-block">
                        {% for page_number in page_obj.paginator.page_range %}
                            <a href="?page={{ page_number }}" id="paginator-button" class="paginator-button">
                                <button class="btn {% if page_number == page_obj.number %}btn-dark{% else %}
                                        btn-danger{% endif %}" type="button">{{ page_number }}</button>
                            </a>
                        {% endfor %}
                    </div>
                </ul>
            </div>


        </div><!-- Page content but sidebar end -->

    </div><!-- Page content including sidebar end -->

{% endblock %}


{% block script %}

    <!-- Script for must button + sidebar opening button + slider -->
    <script type="text/javascript" src={% static 'game/js/main_page.js' %}></script>

{% endblock %}
