<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Static Stylesheets -->
    <link rel="stylesheet" href="{% static 'game/css/main_detail_styles.css' %}">

    <!-- Extra Bootstrap Stylesheets -->
    {% block stylesheet %}{% endblock %}

    <!-- Page Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Roboto:wght@500&display=swap');
    </style>

</head>
<body>


<!-- Navbar -->
<nav class="navbar navbar-expand bg-danger justify-content-between">
    <a class="navbar-brand text-white" href="{% url 'main_page' %}">
        <img src="https://www.pngkey.com/png/full/272-2725717_computer-vision-computer-vision-icon-png-white.png"
             alt="" width="30" height="24"
             class="d-inline-block align-text-top">
        <strong>GameMuster</strong>
    </a>

    <!-- Right block of navbar -->
    <div class="text-white">
        {% if request.user.is_authenticated %}

        <!-- Displays "My MUSTs" and "Log Out" buttons if user is authenticated -->
        Hello, <a class="text-white" href="{% url 'profile_info' request.user.id %}">{{ request.user.username }}</a>!
                <button onclick="location.href={% url 'musts_page' %}" class="btn btn-success ml-2"
                        type="submit" id="must-button">My MUSTs</button>
                <button onclick="location.href={% url 'account_logout' %}" class="btn btn-light text-danger"
                        type="submit" id="must-button">Log Out</button>

         {% else %}

         <!-- Displays "Sign Up" and "Log In" buttons if user is not authenticated -->
             <button onclick="location.href={% url 'account_signup' %}" class="btn btn-light text-danger"
                     type="submit" id="must-button">Sign Up</button>
            or
             <button onclick="location.href={% url 'account_login' %}" class="btn btn-light text-danger"
                     type="submit" id="must-button">Log In</button>

         {% endif %}
    </div>

</nav>


<!-- Page content -->
{% block content %}{% endblock %}

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Extra Scripts -->
{% block script %}{% endblock %}

</body>
</html>
